.active {
  text-decoration: none;
  font-weight: bold;
  color: yellow
}

a {
  text-decoration: none;
  color: white
}

.logo {
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 53px
}

.prod_load_spinner {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 100%;
  justify-content: center;
  align-items: center
}

.prod_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #80808047;
  justify-content: space-evenly;
  flex-wrap: nowrap
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 500;
  flex-wrap: nowrap;
}

.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
}

.categorize {
  display: flex;
  margin-top: 3px;
  margin-bottom: 4px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

label {
  font-weight: bold;
}

.prod_add {
  margin: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

